
@{
    ViewBag.Title = "Counter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Counter</h2>
<div class="header-wrapper" style="background-color: #337ab7; height: 100px;">

</div>
<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="big-title text-center">
                    <h1 style="color: #D63138;"><b>Check your calories!</b></h1>
                </div>
                <div class="daily-summary">
                    <div class="col-md-3">
                        <h1>Hello, Adam</h1>
                        <img src="~/Content/images/Bl_User.png" alt="">
                    </div>
                    <div class="col-md-9 text-center">
                        <button class="gym-btn"><a href="counter-table.html">Add Food</a></button>
                        <button class="gym-btn"><a href="counter-table.html">Download your Food</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
